.custom-sidebar-left {
    overflow: scroll;
    height: 100%;
    scrollbar-width: thin;
}

.logo {
    height: 30px;
    width: 30px;
}

.img-perfil-custom {
    width: 50px;
    height: 50px;
}

.link-neutro,
.link-neutro:hover,
.link-neutro:focus,
.link-neutro:visited {
    text-decoration: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

#modalPerfil .modal-header .close {
    margin-top: -30px;
}

#modalPerfil .modal-body .centro {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
}

#modalCo    nfig .modal-body .centro {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
}

.input-group .input-group-text {
  display: flex;
  align-items: center;
}

.pdg-15 {
    padding: 15px;
}

.tabela-menor {
    font-size: 0.7rem;
}

.texto-menor {
    font-size: 0.7rem;
}

.centro {
    text-align: center;
}

.listar-foto {
    width: 30px;
}

.pointer {
    cursor: pointer;
}

.mg-l--23 {
    margin-left: -230px;
}

.d-il-b {
    display: inline-block;
    list-style: none;
}

@media (max-width: 768px) {
    .invisible-in-mob {
        display: none;
    }

    .profile_details ul li ul.dropdown-menu.drp-mnu {
        left: -70%;
    }

    .rodape {
        font-size: 10px;
    }

    .link-neutro,
    .link-neutro:hover,
    .link-neutro:focus,
    .link-neutro:visited {
        text-decoration: none;
        color: black;
        font-weight: bold;
        cursor: pointer;
    }

    .esc {
        display: none;
    }
}